<div class="container">
  <div class="add-score-container">
    {{#simple-form onsubmit=(action addScore) as |formValues|}}
    {{#x-select action=(action (mut course)) class="add-score-dropdown"}}
      {{#x-option}}Select a Course{{/x-option}}
      {{#each (sort-by "name" "teecolor" model.courses) as |course|}}
        {{#x-option value=course}}{{course.name}} / {{course.teecolor}}{{/x-option}}
      {{/each}}
    {{/x-select}}

    <ul class="add-score__holes">
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="1" value=formValues.score1 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="2" value=formValues.score2 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="3" value=formValues.score3 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="4" value=formValues.score4 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="5" value=formValues.score5 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="6" value=formValues.score6 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="7" value=formValues.score7 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="8" value=formValues.score8 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="9" value=formValues.score9 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="10" value=formValues.score10 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="11" value=formValues.score11 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="12" value=formValues.score12 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="13" value=formValues.score13 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="14" value=formValues.score14 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="15" value=formValues.score15 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="16" value=formValues.score16 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="17" value=formValues.score17 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
      <li class="add-score__hole">
        {{paper-input class="add-score__hole__input" label="18" value=formValues.score18 min="1" min-errortext="Must be positive" required=true customValidation=scoreValidation max="15" max-errortext="Easy tiger..."}}
      </li>
    </ul>
  <div class="add-score__options">
    <h5 class="add-score__optionals__title">Optional Statistics:</h5>
    <div class="add-score__options-inputs">
      {{paper-input class="add-score__optionals" label="Number of Putts" value=formValues.numputts}}
      {{paper-input class="add-score__optionals" label="Greens in Regulation" value=formValues.gir}}
      {{paper-input class="add-score__optionals" label="Fairways Hit" value=formValues.fairwayshit}}
    </div>
  </div>
    {{#paper-button raised="true"}}Submit Score{{/paper-button}}
    {{#link-to "home"}}{{#paper-button}}Cancel{{/paper-button}}{{/link-to}}
    {{/simple-form}}
  </div>
</div>

{{outlet}}
