<div class="top-nav">
  <div class="top-nav__row">
    <div class="top-nav__left">
      <div class="logo">
        <img class="logo-pic" src="http://icons.iconarchive.com/icons/icons8/windows-8/32/Sports-Golf-icon.png">
      </div>
      <h2 class="top-nav__left__text">Foresome</h2>
      {{fa-icon "trademark" class="tm"}}
    </div>
    <div class="top-nav__right">
      {{#link-to "home" class="top-nav__right__link"}}
        {{fa-icon "home"}}
      {{/link-to}}
      <span class="top-nav__right__separator"> | </span>
      {{#if session.isAuthenticated}}
        <div class="top-nav__right__link">
          {{session.data.authenticated.user.first-name}}
        </div>
        <div class="top-nav__right__link">
          {{session.data.authenticated.user.last-name}}
        </div>
        <div class="top-nav__right__link">
          {{#link-to "logout" class="logout"}}Logout{{/link-to}}
        </div>
      {{else}}
        {{#link-to "register" class="top-nav__right__link"}}
        Register
        {{/link-to}}
        <span class="top-nav__right__separator"> | </span>
        {{#link-to "login" class="top-nav__right__link"}}
        Login
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
<div class="big-container">
  {{outlet}}

</div>

<div class="footer">
  <div class="footer__row">
    <h5>{{fa-icon "copyright"}}</h5>
    <h5>Foresome, 2016</h5>
  </div>
</div>
