<div class="container">
  <div class="user-info">
    <div class="avatar">
      {{#if model.golfer.avatar}}
        <img src={{model.golfer.avatar}} class="avatar-img">
      {{else}}
        <img src="http://americanmuslimconsumer.com/wp-content/uploads/2013/09/blank-user.jpg" alt="" class="avatar-img">
      {{/if}}
    </div>
    <div class="user-info__details">
      {{#if model.golfer.handicap}}
      <h3 class="handicap-score">{{model.golfer.handicap}}</h3>
      {{else}}
      <p>Add More Scores to see your handicap!</p>
      {{/if}}
      {{#if model.golfer.bio}}
        {{model.golfer.bio}}
      {{else}}
        {{#simple-form onsubmit=(action editBio model.golfer) as |temp|}}
          {{input value=temp.bio placeholder="Write a bit about yourself!" class="user-bio" action="editBio" on="submit"}}
        {{/simple-form}}
      {{/if}}
    </div>
  </div>
  <div class="user-options">
    {{#link-to "add-score"}}<button>Add Score</button>{{/link-to}}
    {{#link-to "history"}}<button>View History</button>{{/link-to}}
    {{#link-to "courses"}}<button>Courses Around Me</button>{{/link-to}}
    {{#link-to "editprofile"}}<button>Edit Profile</button>{{/link-to}}
    {{#link-to "addcourse"}} <button>Add your local course</button>{{/link-to}}
  </div>
  {{outlet}}
  <div class="main">
    <div class="sidebar">
        {{paper-autocomplete
          floating=true
          placeholder="Search for a User"
          notFoundMessage="Oops golfer: \"%@\" doesn't exist here."
          source=model.golfers lookupKey="firstName"
          itemComponent="example-item" notFoundComponent="not-found"
          }}
    </div>
    <div class="scores-box">
      <ul class="scores-list">
      {{#each (sort model.scores idInt) as |score|}}
        <li class="scores-list__thing">
          <div class="scores-list__item">
            <div class="golfer__avatar">
              <img src="{{score.golfer.avatar}}" alt="" class="golfer-avatar__img">
            </div>
            <div class="scores-list__golfer-score">
              <div class="scores-list__golfer-name">
                {{score.golfer.firstName}} {{score.golfer.lastName}}
              </div>
              <p class="scores-list__scored-text"> scored a </p>
              <div class="scores-list__score">
                {{sum-property score.holes "holescore"}}
              </div>
            </div>
            <div class="scores-list__course">
              {{score.course.name}} <br>
              Tee: {{score.course.teecolor}}
            </div>
          </div>
          <div class="comment-box">
            <ul class="comments">
              {{#each score.comments as |comment|}}
                <li class="comments-content">
                  <div class="comment-user__avatar">
                    <img src="{{comment.golfer.avatar}}" alt="" class="comment-user__avatar__img">
                  </div>
                  <div class="comment-user">
                    {{comment.golfer.firstName}} {{comment.golfer.lastName}}:
                  </div>
                  <div class="comment-description">
                    {{comment.description}}
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="comment-box">
            <div class="comment-avatar">
              <img src="{{model.golfer.avatar}}" alt="" class="comment-avatar__img">
            </div>
            {{#simple-form class="comment-box__form" onsubmit=(action addComment score) as |comment|}}
              {{input value=comment.description placeholder="Write a comment..." class="comment-box__input"}}
            {{/simple-form}}
          </div>
        </li>
      {{/each}}
      </ul>
    </div>
  </div>
</div>
