<div class="container">
  <div class="user-info">
    <div class="avatar">
      {{#if model.avatar}}
        <img src={{model.avatar}} class="avatar-img">
      {{else}}
        <img src="http://americanmuslimconsumer.com/wp-content/uploads/2013/09/blank-user.jpg" alt="" class="avatar-img">
      {{/if}}
    </div>
    <div class="user-info__details">
      <h3 class="handicap-score">6.7</h3>
      {{#if model.bio}}
        {{log 'yo'}}{{model.bio}}
      {{else}}
        {{#simple-form onsubmit=(action editBio model) as |temp|}}
          {{input value=temp.bio placeholder="Write a bit about yourself!" class="user-bio" action="editBio" on="submit"}}
        {{/simple-form}}
      {{/if}}
    </div>
  </div>
  <div class="user-options">
    {{#link-to "add-score"}}<button>Add Score</button>{{/link-to}}
    {{#link-to "history"}}<button>View History</button>{{/link-to}}
    {{#link-to "courses"}}<button>Courses Around Me</button>{{/link-to}}
    {{#link-to "editprofile"}}<button>Edit Profile</button>{{/link-to}}
    {{#link-to "addcourse"}} <button>Add your local course</button>{{/link-to}}
    <button{{action calculateHandicap on="click"}}>Calc</button>
  </div>
  {{outlet}}
  <div class="main">
    <div class="sidebar">
      <input type="search" placeholder="Search for a friend...">
      <div class="friend-box">
        <div class="friend-avatar">
          <img class="friend-avatar__img" src="http://fillmurray.com/50/50" alt="">
        </div>
        <div class="friend-avatar">
          <img class="friend-avatar__img" src="http://fillmurray.com/50/50" alt="">
        </div>
        <div class="friend-avatar">
          <img class="friend-avatar__img" src="http://fillmurray.com/50/50" alt="">
        </div>
        <div class="friend-avatar">
          <img class="friend-avatar__img" src="http://fillmurray.com/50/50" alt="">
        </div>
        <div class="friend-avatar">
          <img class="friend-avatar__img" src="http://fillmurray.com/50/50" alt="">
        </div>
      </div>
    </div>
    <div class="scores-box">
      Scores Box:)
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus cumque, fuga consequatur eum quidem explicabo maiores qui necessitatibus neque facere beatae quas quos, tenetur, maxime hic consectetur at. Molestias, nemo.
    </div>
  </div>
</div>
