<div class="container">
  <div class="user-info">
    <div class="avatar">
      {{#if model.golfer.avatar}}
        <img src={{model.golfer.avatar}} class="avatar-img">
      {{else}}
        <img src="http://americanmuslimconsumer.com/wp-content/uploads/2013/09/blank-user.jpg" alt="" class="avatar-img">
      {{/if}}
    </div>
    <div class="user-info__details">
      {{#if model.golfer.handicap}}
      <h3 class="handicap-score">{{model.golfer.handicap}}</h3>
      {{else}}
      <p>Add More Scores to see your handicap!</p>
      {{/if}}
      {{#if model.golfer.bio}}
        {{log 'yo'}}{{model.golfer.bio}}
      {{else}}
        {{#simple-form onsubmit=(action editBio model.golfer) as |temp|}}
          {{input value=temp.bio placeholder="Write a bit about yourself!" class="user-bio" action="editBio" on="submit"}}
        {{/simple-form}}
      {{/if}}
    </div>
  </div>
  <div class="user-options">
    {{#link-to "add-score"}}<button>Add Score</button>{{/link-to}}
    {{#link-to "history"}}<button>View History</button>{{/link-to}}
    {{#link-to "courses"}}<button>Courses Around Me</button>{{/link-to}}
    {{#link-to "editprofile"}}<button>Edit Profile</button>{{/link-to}}
    {{#link-to "addcourse"}} <button>Add your local course</button>{{/link-to}}
  </div>
  {{outlet}}
  <div class="main">
    <div class="sidebar">
      <form {{action search searchitem on='submit'}}>
        {{input type="text" placeholder="Search for a user..." value=searchitem}}
      </form>
      <div class="friend-box">

      {{#each model.golfers as |golfer|}}
        {{log golfer.firstName}}
        {{#if golfer.avatar}}
          <div class="friend-box__item">
            {{#link-to "user-profile" golfer.id}}
            <div class="content">
              <img class="friend-avatar__img" src="{{golfer.avatar}}" alt="">
            </div>
            <span class="friend-name picture-avail">{{golfer.firstName}}</span>
            {{/link-to}}
          </div>
        {{else}}
          <div class="friend-box__item">
            {{#link-to "user-profile" golfer.id}}
            <div class="content">
              <img class="friend-avatar__img" src="http://americanmuslimconsumer.com/wp-content/uploads/2013/09/blank-user.jpg" alt="">
            </div>
            <span class="friend-name">{{golfer.firstName}}</span>
            {{/link-to}}
          </div>
        {{/if}}
      {{/each}}
      </div>
    </div>
    <div class="scores-box">
      Scores Box:)
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus cumque, fuga consequatur eum quidem explicabo maiores qui necessitatibus neque facere beatae quas quos, tenetur, maxime hic consectetur at. Molestias, nemo.
    </div>
  </div>
</div>
