<div class="container">
  <div class="user-info">
    <div class="avatar">
      {{#if model.golfer.avatar}}
        <img src={{model.golfer.avatar}} class="avatar-img">
      {{else}}
        <img src="http://americanmuslimconsumer.com/wp-content/uploads/2013/09/blank-user.jpg" alt="" class="avatar-img">
      {{/if}}
    </div>
    <div class="user-info__details">
      {{#if model.golfer.handicap}}
      <h3 class="handicap-score">{{model.golfer.handicap}}</h3>
      {{else}}
      <p>Add More Scores to see your handicap!</p>
      {{/if}}
      {{#if model.golfer.bio}}
        {{model.golfer.bio}}
      {{else}}
        {{#simple-form onsubmit=(action editBio model.golfer) as |temp|}}
          {{input value=temp.bio placeholder="Write a bit about yourself!" class="user-bio" action="editBio" on="submit"}}
        {{/simple-form}}
      {{/if}}
    </div>
  </div>
  <div class="user-options">
    {{#link-to "add-score"}}<button>Add Score</button>{{/link-to}}
    {{#link-to "history"}}<button>View History</button>{{/link-to}}
    {{#link-to "courses"}}<button>Courses Around Me</button>{{/link-to}}
    {{#link-to "editprofile"}}<button>Edit Profile</button>{{/link-to}}
    {{#link-to "addcourse"}} <button>Add your local course</button>{{/link-to}}
  </div>
  {{outlet}}
  <div class="main">
    <div class="sidebar">
      <form {{action search searchitem on='submit'}}>
        {{input type="text" placeholder="Search for a user..." value=searchitem}}
      </form>
      <div class="friend-box">

      {{#each model.golfers as |golfer|}}
        {{#if golfer.avatar}}
          <div class="friend-box__item">
            {{#link-to "user-profile" golfer.id}}
            <div class="content">
              <img class="friend-avatar__img" src="{{golfer.avatar}}" alt="">
            </div>
            <span class="friend-name picture-avail">{{golfer.firstName}}</span>
            {{/link-to}}
          </div>
        {{else}}
          <div class="friend-box__item">
            {{#link-to "user-profile" golfer.id}}
            <div class="friend-box__content">
              <img class="friend-avatar__img" src="http://americanmuslimconsumer.com/wp-content/uploads/2013/09/blank-user.jpg" alt="">
            </div>
            <span class="friend-name">{{golfer.firstName}}</span>
            {{/link-to}}
          </div>
        {{/if}}
      {{/each}}
      </div>
    </div>
    <div class="scores-box">
      <ul class="scores-list">
      {{#each (sort model.scores idInt) as |score|}}
        {{log score.id}}
        <li class="scores-list__thing">
          <div class="scores-list__item">
            <div class="golfer__avatar">
              <img src="{{score.golfer.avatar}}" alt="" class="golfer-avatar__img">
            </div>
            <div class="scores-list__golfer-score">
              <div class="scores-list__golfer-name">
                {{score.golfer.firstName}} {{score.golfer.lastName}}
              </div>
              <p class="scores-list__scored-text"> scored a </p>
              <div class="scores-list__score">
                {{sum-property score.holes "holescore"}}
              </div>
            </div>
            <div class="scores-list__course">
              {{score.course.name}} <br>
              Tee: {{score.course.teecolor}}
            </div>
          </div>
          <div class="comment-box">
            {{input value=comment placeholder="Write a comment..." class="comment-box__input"}}
          </div>
        </li>
      {{/each}}
      </ul>
    </div>
  </div>
</div>
