<button{{action calcHandicap model model.length}}>Handicap</button>
<button{{action makeArrayOfDifferentials model}}>Make Array of Diffs</button>
<div class="container">
  <ul class="scores">
    {{#each model as |score|}}
    <li class="score-item">
      <div class="score-item__title">
        <div class="score-item__title__totalscore">
          <button {{action calcHandicapDifferential score.holes "holescore" score.course.rating score.course.slope}}>CalcDifferential</button>
          {{sum-property score.holes "holescore"}}

        </div>
        <div class="score-item__title__optionalstats">
          <div class="optionalstats__item">
            <div class="optionalstats__item__title">
              Fairways
            </div>
            {{score.fairwaysHit}}
          </div>
          <div class="optionalstats__item">
            <div class="optionalstats__item__title">
              GIR
            </div>
            {{score.gir}}
          </div>
          <div class="optionalstats__item">
            <div class="optionalstats__item__title">
              #Putts
            </div>
            {{score.totalPutts}}
          </div>
        </div>
      </div>
<div class="score-item__right-container">
  <div class="score-item__course">
    Course: {{score.course.name}}
    Tee: {{score.course.teecolor}}
    Rating: {{score.course.rating}}
    Slope: {{score.course.slope}}
  </div>
  <ul class="score-item__holes">
    {{#each score.holes as |hole|}}
    <li class="score-item__hole">
      <span class="score-item__hole__number">
        Hole {{hole.holenumber}}
      </span>
      <span class="score-item__hole__score">
        {{hole.holescore}}
      </span>
    </li>
    {{/each}}
  </ul>
</div>
    </li>
    {{/each}}
  </ul>
</div>
{{outlet}}
