History of Scores!

{{log model}}
{{#each model as |score|}}
{{log score.holes}}
<li class="score-item">
  {{score.id}}
  Total Score: {{this.sumScore}}
  <button {{action sumScores score.holes}}>Add up!</button>
  <button {{action deleteScore score}}>Delete</button>
  <ul class="score-item__holes">
    {{#each score.holes as |hole|}}
      {{hole.hole1}}
      {{hole.hole2}}
      {{hole.hole3}}
      {{hole.hole4}}
      {{hole.hole5}}
      {{hole.hole6}}
      {{hole.hole7}}
      {{hole.hole8}}
      {{hole.hole9}}
      {{hole.hole10}}
      {{hole.hole11}}
      {{hole.hole12}}
      {{hole.hole13}}
      {{hole.hole14}}
      {{hole.hole15}}
      {{hole.hole16}}
      {{hole.hole17}}
      {{hole.hole18}}
    {{/each}}
  </ul>
</li>
{{/each}}
{{outlet}}
