
<div class="container">
  <ul class="scores">
    {{#each model as |score|}}
    <li class="score-item">
      <button class="score-delete-button"{{action deleteScore}}>X</button>
      <div class="score-item__title">
        <div class="score-item__title__totalscore">
          {{sum-property score.holes "holescore"}}
        </div>
        <div class="score-item__title__optionalstats">
          <div class="optionalstats__item">
            <div class="optionalstats__item__title">
              Fairways
            </div>
            {{score.fairwaysHit}}
          </div>
          <div class="optionalstats__item">
            <div class="optionalstats__item__title">
              GIR
            </div>
            {{score.gir}}
          </div>
          <div class="optionalstats__item">
            <div class="optionalstats__item__title">
              #Putts
            </div>
            {{score.totalPutts}}
          </div>
        </div>
      </div>
      <ul class="score-item__holes">
        {{#each score.holes as |hole|}}
        <li class="score-item__hole">
          <span class="score-item__hole__number">
            Hole {{hole.holenumber}}
          </span>
          <span class="score-item__hole__score">
            {{hole.holescore}}
          </span>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</div>
{{outlet}}
