{{!-- <div class="container">
  Enter Details Below
  {{#simple-form as |formValues|}}
    {{input type="text" placeholder="First Name"}}
    {{input type="text" placeholder="Last Name"}}
    {{input type="text" placeholder="Email"}}
    {{input type="text" placeholder="Username"}}
    {{input type="password" placeholder="Password"}}
    <button>Submit</button>
  {{/simple-form}}
</div> --}}
{{outlet}}
