<div class="container">
  Enter Details Below
  {{#simple-form onsubmit=(action createUser) as |formValues|}}
    {{input type="text" placeholder="First Name" value=formValues.firstName}}
    {{input type="text" placeholder="Last Name" value=formValues.lastName}}
    {{input type="text" placeholder="Email" value=formValues.email}}
    {{input type="text" placeholder="Username" value=formValues.username}}
    {{input type="password" placeholder="Password" value=formValues.password}}
    <button>Submit</button>
  {{/simple-form}}
</div>
{{outlet}}
