<div class="container">
  <h3 class="register-title">
    Enter Details Below
  </h3>
  {{#simple-form onsubmit=(action createUser) as |formValues|}}
    {{paper-input type="text" label="First Name" value=formValues.firstName}}
    {{paper-input type="text" label="Last Name" value=formValues.lastName}}
    {{paper-input type="text" label="Email" value=formValues.email}}
    {{paper-input type="text" label="Username" value=formValues.username}}
    {{paper-input type="password" label="Password" value=formValues.password}}
    {{#paper-button raised=true}}Submit{{/paper-button}}
  {{/simple-form}}
</div>
{{outlet}}
